:root {
    --yellow: #ffcc29;
    --blue: #1d539e;
    --gray: #828799;
    --page-background: #f9fbfc;
    --titulo-black: #1E2338;
}

* { 
    font-family: "Open Sans"; 
    margin: 0px;
    padding: 0px;
    font-style: normal;
}

p {
    color: rgb(12, 12, 12);
   
}
.pagina {
    height: 100%;
    width: 100%;
    z-index: 10;
}

.top {
    background-color: var(--blue);
    height: 50vh;
    display: flex;
    align-items: center;
    background-color: var(--blue);
    align-items: center;
    flex-direction: column;

}

.top-header {
    color: white;
    font-weight: 700;
    font-size: 48px;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.top-text {
    color: white;
    font-weight: 300;
    font-size: 18px;
}

.background {
    background-color: var(--page-background);
    height: 50vh;
}


.container {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100%;
    justify-self: center;
    top: 35vh;
    z-index: 2;
    height: 50vh;
    width: 100vw;  
    flex-direction: row;
}

.item-card {
    background-color: var(--page-background);
    height: 100%;
    width: 20%;
    margin-right: 2%;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.titulocard {
    font-size: 18px;
    font-weight: 600;
    color: var(--titulo-black);
    margin-bottom: 1em;
}

.real {
    font-size: 18px;
    font-weight: 800;
    color: var(--titulo-black);
    font-size: 49px;
}

.cents {
    color: var(--titulo-black) !important;
    font-weight: 700 !important;
}

.mes {
    font-size: 18px;
    font-weight: 100;
    color: var(--gray);
}

.price {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.5em;
}

.subtitle{
    font: size 14px;
    color: var(--gray);
    font-weight: 400px;
    line-height: 20px;
    margin-bottom: 1.5em;
}


.lista {
   /*  https://www.w3schools.com/cssref/tryit.asp?filename=trycss_list-style
   */
   font-family: 'Open Sans';
   font-size: 14px;
   font-weight: 600;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   color: #828799;
   margin-left: 3em;
}

li {
    list-style: none;
}


.assinar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 80%;
    height: 49px;
    border: 1px solid #1D539E;
    box-sizing: border-box;
    border-radius: 10px;
    color: var(--blue);
    background-color: transparent;
    font-size: 18px;
    text-transform: uppercase;
    align-self: center;
    margin-top: auto;
}

hr {
    width: 100%;
    background: #EEEEEE;
    height: 1px;
    border-color: #EEEEEE;
}

.topo {
    background-color: var(--yellow);
    margin-top: -40px;
    margin-bottom: 35px;
    margin-left: -30px;
    margin-right: -30px;
    border-radius: 10px 10px 0px 0px;
    flex-direction: row;
    display: flex;
    align-items: center;




}

#titulopopular {
    margin-right: 24vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    margin-left: 1vh;
    
    font-size: 24px;
    font-weight: 600;
    color: var(--blue);
    
}

#assinarSelecionado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 80%;
    height: 49px;
    border: 1px solid #1D539E;
    background-color: #1D539E;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 18px;
    text-transform: uppercase;
    align-self: center;
    margin-top: auto;
    color: white;
}

.buttomPopular {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    border: 1px solid #1D539E;
    margin-right: 20vh;
    box-sizing: border-box;
    border-radius: 10px;
    color: var(--page-background);
    background-color: var(--blue);
    font-size: 12px;
    align-self: center;


}

